<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="'image/png" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Jonatas Ferreira</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <asside id="header">
        <section class="profile">
            <img src="../static/img/profile3.png" alt="Foto do Jonatas">
            <h1>Jonatas Ferreira</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/jonatas-ferreira-32aba736/">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://github.com/Jyionatasu">
                    <i class="bi bi-github"></i>
                </a>

                <a target="_blank" href="https://www.instagram.com/mr.procopio/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i class="bi-house" aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-list-check"></i> Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-file-earmark-code-fill"></i> Experience</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-collection"></i> Portifólio</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-code-slash"></i> Tips & Tricks</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope"></i> Contact</a>
                </li>
              </ul>
        </nav>
    </asside>

    <main id="main">

        <section id="home" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Jonatas Ferreira</h2>
                <span id="subtitle" class="text-white text-shadow">Analista de Performance, Programador Front & BackEnd, Analista de Dados, Amante de Tecnologia e Nerd nas horas vagas</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down-circle-fill pe-2 fs-2" aria-hidden="true"></i>
                     <a href=""> Arraste para mais</a>
                </div>

            </div>





        </section>

    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>